# 设置时区
TZ={{TZ}}

# 设置网络模式
NETWORKS_DRIVER=bridge
NETWORKS_NAME=backend

# image 前缀
APP_NAME={{APP_NAME}}
# PATHS ##########################################
# 宿主机上 Mysql/Reids 数据存放的目录路径
DATA_PATH_HOST={{DATA_PATH_HOST}}

# nginx, 此端口应该与 nginx/sites/default.conf 中保持一致
OPEN_PORT=8071
# 生产部署 nginx 端口（宿主机模式），由 deploy 工具分配
NGINX_PORT={{NGINX_PORT}}

# [postgres](https://hub.docker.com/_/postgres)
# docker-compose.services.postgres 配置
# 在 pgadmin 中连接时，使用的连接信息为 postgres:15432
#POSTGRES_HOST=host.docker.internal
#POSTGRES_PORT=15432
#POSTGRES_USER=admin
#POSTGRES_PASSWORD=123456
#POSTGRES_DB=admin

# docker-compose.services.mysql 配置
#MYSQL_HOST=host.docker.internal
MYSQL_PORT=13306
MYSQL_PASSWORD={{MYSQL_PASSWORD}}
MYSQL_USER={{MYSQL_USER}}
MYSQL_DATABASE={{MYSQL_DATABASE}}

# phpmyadmin 端口 15456，如果不需要，可不填写
PHPMYADMIN_PORT=15456

# REDIS ##########################################
# Redis 服务映射宿主机端口号，可在宿主机 127.0.0.1:16379 访问
#REDIS_HOST=host.docker.internal
REDIS_HOST=redis
REDIS_PORT=16379
REDIS_PASSWORD={{REDIS_PASSWORD}}
#REDIS_USERNAME=
#REDIS_CACHE_INDEX=0
#REDIS_SESSION_INDEX=0
#REDIS_PERSISTENT=false

# memcached 服务
#MEMCACHED_PORT=11211
