# 此文件用于 deploy 脚本生成
# 设置时区
TZ={{TZ}}

# image 前缀
APP_NAME={{APP_NAME}}
# 宿主机上 Mysql/Reids 数据存放的目录路径
DATA_PATH_HOST={{DATA_PATH_HOST}}

# nginx, 此端口会与 /etc/nginx/conf.d/{{APP_NAME}}.conf 中保持一致
NGINX_PORT={{NGINX_PORT}}

# [postgres](https://hub.docker.com/_/postgres)
# docker-compose.services.postgres 配置
# 在 pgadmin 中连接时，使用的连接信息为 postgres:15432
#POSTGRES_HOST=host.docker.internal
#POSTGRES_PORT=15432
#POSTGRES_USER=admin
#POSTGRES_PASSWORD=123456
#POSTGRES_DB=admin

# MySQL
MYSQL_PASSWORD={{MYSQL_PASSWORD}}
MYSQL_USER={{MYSQL_USER}}
MYSQL_DATABASE={{MYSQL_DATABASE}}

# REDIS
REDIS_PASSWORD={{REDIS_PASSWORD}}


# 自定义镜像（缺省使用 compose 文件中的默认值）
NGINX_IMAGE=
PHP_IMAGE=registry.cn-shenzhen.aliyuncs.com/authus/phalcon:5.13.0
MYSQL_IMAGE=
REDIS_IMAGE=