.idea
.vscode
.codewhale/
.deepseek/
.reasonix/*
!.reasonix/skills/
DirectoryV3.xml
reasonix.toml
# ai 可能生成这个文件
nul

# docker 运行环境配置
.env
docker-compose.yaml
docker-compose.ports.yaml

docker/log/mysql/*
docker/log/nginx/*
docker/log/php/*
!docker/log/mysql/.gitkeep
!docker/log/nginx/.gitkeep
!docker/log/php/.gitkeep

docker/mysql/my.cnf
docker/nginx/host.conf
docker/nginx/sites/default.conf
docker/nginx/ssl/*
!docker/nginx/ssl/.gitkeep
docker/php/php.ini

docker/storage/mysql/*
!docker/storage/mysql/.gitkeep
docker/storage/redis/*
!docker/storage/redis/.gitkeep

# 源码
src/.env
src/.phpunit.result.cache
src/vendor
src/phpunit.xml

src/phar-src
src/tao996/phar/*
!src/tao996/phar/*.phar
!src/tao996/phar/package.php
src/routes/cli.more.php
src/routes/web.more.php
src/tests/Helper/cookies/*
src/tests/Helper/cookie.txt
src/tests/bootstrap.test.php
src/storage/app/*
!src/storage/app/.gitkeep
src/storage/cache/
src/storage/cache/session/*
!src/storage/cache/session/.gitkeep
src/storage/cache/view/*
!src/storage/cache/view/.gitkeep
src/storage/data/*
!src/storage/data/.gitkeep
src/storage/logs/*
!src/storage/logs/.gitkeep
src/config/*
!src/config/*.example.php
src/public/upload
!src/public/upload/.gitkeep
src/public/favicon.ico
src/App/Modules/*
!src/App/Modules/demo
!src/App/Modules/tao

deploys/server.php
deploys/projects/*
!deploys/projects/.example
!deploys/projects/.gitkeep
deploys/.cache/

deploysUI/__pycache__/
deploysUI/**/__pycache__/
build/
deployUI.spec
dist/

.cache
.venv
.DS_Store
